plotly
torch
pandas
openpyxl
python-docx
langchain
langchain-community
langchain-huggingface
chromadb
sentence-transformers
streamlit
requests
openai
python-dotenv
groq
langchain-text-splitters
tabulate
psycopg2-binary
Werkzeug==3.0.1
torchvision
